{% extends 'home/base_template.html' %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home:homepage' %}">New Beginnings Marketplace</a>
        </div>

        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'home:homepage' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Post an Item
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'home:register' %}">
                        <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp; Register
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Login
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

{% block body %}

<body class="body" style="background-color:#f6f6f6">

    <br/>
    <br/>

<div class="container">

{#    {% if all_items %}#}
{#        {% for item in all_items %}#}
    {% if latest_item_list %}
        {% for item in latest_item_list %}
          <div class="col-md-2">
                <div class="thumbnail">
                    <img src="{{ item.photo.url }}" class="img-thumbnail" />
                     <div class="caption">

                        <h3>{{ item.name }}</h3><h6><a href="{% url 'home:profile' item.userName.id %}">{{ item.userName }}</a></h6>

                        <p>{{ item.condition }}<br/><b>Type: {{ item.itemType }}</b></p>

                         <h6>
                             {% for tags in latest_tag_list %}
                                  {% if tags.itemName.id == item.id %}
                                        #{{ tags.tag }}&nbsp;
                                  {% endif %}
                             {% endfor %}
                         </h6>

{#                         <form action="{% url 'home:item-delete' item.name.id %}" method="post" style="display: inline;">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="item_name_id" value="{{ item.name.id }}"/>#}
{#                                <button type="submit" class="btn btn-default btn-sm">#}
{#                                    <span class="glyphicon glyphicon-trash"></span>#}
{#                                </button>#}
{#                         </form>#}

                     </div>
                 </div>
          </div>
        {% endfor %}

    {% else %}
        <p>No item available</p>

    {% endif %}

</div>

    <center>
        <button type="load" class="btn btn-inverse">Load More</button>
    </center>

</body>

{% endblock %}

